<%= form_with(model: drugstore, local: true) do |form| %>
  <% if drugstore.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% drugstore.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="form-group">
        <div class="col-xs-4 col-sm-2">
          <%= form.label :name %>
        </div>
        <div class="col-xs-8 col-sm-10">
          <%= form.text_field :name, class: 'form-control', required: true %>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
