<%= render partial: 'partials/notices', locals: {notices: notice} %>

<h1><%= Drugstore.model_name.human %>一覧</h1>

<table class='table table-bordered table-hover table-striped'>
  <thead>
    <tr>
      <th><%= Drugstore.human_attribute_name :name %></th>
    </tr>
  </thead>

  <tbody>
    <% @drugstores.each do |d| %>
      <tr>
        <td><%= link_to d.name, drugstore_path(d) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('helpers.link.new'), new_drugstore_path %>
