<%= form_with(model: transport, local: true) do |form| %>
  <% if transport.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% transport.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row mb-3">
      <div class="col-4 col-md-2">
        <%= form.label :name %>
      </div>
      <div class="col-8 col-md-10">
        <%= form.text_field :name, class: 'form-control', required: true %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
