<%= render partial: 'partials/notices', locals: {notices: notice} %>

<h1><%= Transport.model_name.human %>一覧</h1>

<table class='table table-bordered table-hover table-striped'>
  <thead>
    <tr>
      <th><%= Transport.human_attribute_name :name %></th>
    </tr>
  </thead>

  <tbody>
    <% @transport.each do |transport| %>
      <tr>
        <td><%= link_to transport.name, transport_path(transport) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('helpers.link.new'), new_transport_path %>
