<%= render_notices %>

<h1><%= Person.model_name.human %>一覧</h1>

<%= paginate @people %>
<table class='table table-bordered table-hover table-striped'>
  <thead>
  <tr>
    <th><%= Person.human_attribute_name :name %></th>
    <th><%= Person.human_attribute_name :relationship %></th>
  </tr>
  </thead>

  <tbody>
  <% @people.each do |p| %>
    <tr>
      <td><%= link_to p.name, person_path(p) %></td>
      <td><%= p.relationship %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @people %>

<br>

<%= link_to t('helpers.link.new'), new_person_path %>
