<p id="notice"><%= notice %></p>

<h1><%= Person.model_name.human %>一覧</h1>

<table class='table table-bordered table-hover'>
  <thead>
  <tr>
    <th><%= Person.human_attribute_name :name %></th>
    <th><%= Person.human_attribute_name :relationship %></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @people.each do |person| %>
    <tr>
      <td><%= person.name %></td>
      <td><%= person.relationship %></td>
      <td><%= link_to t('helpers.link.edit'), edit_person_path(person) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to t('helpers.link.new'), new_person_path %>
