<h1><%= Person.model_name.human %>閲覧</h1>

<%= render partial: 'action' %>

<div class="container">
  <div class="row">
    <div class="col-xs-4 col-sm-2">
      <%= Person.human_attribute_name :name %>
    </div>
    <div class="col-xs-8 col-sm-10">
      <%= @person.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-2">
      <%= Person.human_attribute_name :relationship %>
    </div>
    <div class="col-xs-8 col-sm-10">
      <%= @person.relationship %>
    </div>
  </div>
</div>