<ul>
  <li><%= link_to 'TOPページ', root_path %></li>
  <li><%= link_to Patient.model_name.human, patients_path %></li>
  <li><%= link_to Hospital.model_name.human, hospitals_path %></li>
  <li><%= link_to Drugstore.model_name.human, drugstores_path %></li>
  <li><%= link_to Transportation.model_name.human, transportation_index_path %></li>
</ul>