<%= form_with(model: record, local: true) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="form-group">
        <div class="col-xs-5 col-sm-2">
          <%= form.label :date %>
        </div>
        <div class="col-xs-7 col-sm-10 input-group date date-picker">
          <%= form.text_field :date, class: 'form-control', required: true %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <div class="col-xs-5 col-sm-2">
          <%= form.label :person_id, Person.human_attribute_name(:name) %>
        </div>
        <div class="col-xs-7 col-sm-10">
          <%= form.select :person_id, Person.objects_for_select,
                          {include_blank: true},
                          class: 'form-control', required: true %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <div class="col-xs-5 col-sm-2">
          <%= form.label :division_type, Division.model_name.human %>
        </div>
        <div class="col-xs-7 col-sm-10">
          <%= form.select :division_type, Division.division_names.invert,
                          {include_blank: true,
                           selected: record.division&.model_name},
                          class: 'form-control division_type' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <div class="col-xs-5 col-sm-2">
          <%= form.label :division_id, Division.human_attribute_name(:name) %>
          <%= hidden_field_tag 'division[default_id]', record.division&.id %>
        </div>
        <div class="col-xs-7 col-sm-10">
          <% records = Division.all_records(record.division_type) %>
          <%= form.select :division_id, records.map {|r| [r.name, r.id]},
                         {include_blank: true}, class: 'form-control division_id',
                          disabled: records.blank?, required: true %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <div class="col-xs-5 col-sm-2">
          <%= form.label :cost %>
        </div>
        <div class="col-xs-7 col-sm-10">
          <%= form.number_field :cost, class: 'form-control', min: 0, required: true %>
        </div>
      </div>
    </div>

    <% if controller.action_name == 'new' %>
      <div class="row">
        <div class="form-group">
          <div class="col-xs-5">
            <%= check_box_tag :continuous %>
            <%= label_tag :continuous, t('helpers.label.continuously_create') %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="actions">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
