<%= form_with(model: record, local: true) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% record.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field input-group input-group-sm">
    <div class="input-group-prepend">
      <%= form.label :cost, class: 'input-group-text' %>
      <%= form.number_field :cost, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-outline-secondary' %>
  </div>
<% end %>
