<div class="tekitou">
  <%= form_tag('/records', method: :get) do %>
    <%= label_tag 'search[name]', Person.human_attribute_name(:name), class: 'form-control' %>
    <%= select_tag 'search[name]', options_for_select(Person.objects_for_select),
                   include_blank: true, class: 'form-control' %>

    <%= label_tag 'search[division_type]', Record.human_attribute_name(:division), class: 'form-control' %>
    <%= select_tag 'search[division_type]', options_for_select(Division.division_names.invert),
                   include_blank: true, class: 'form-control division_type' %>

    <%= label_tag 'search[division_name]', Division.human_attribute_name(:name), class: 'form-control' %>
    <div id="division_id_selector"><%= t('helpers.notice.loading') %></div>

    <%= submit_tag :検索, class: 'btn btn-outline-secondary', name: nil %>
  <% end %>
</div>