<%= form_with(model: record, url: search_records_path, method: :get, local: true, id: :search_record_form) do |form| %>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseSearch" aria-expanded="true" aria-controls="collapseSearch">
    <%= t('helpers.button.search_form') %>
  </button>
  <div class="container collapse show box_radius" id="collapseSearch">
    <div class="row">
      <div class="col-2">
        <%= form.label :from_date, Record.human_attribute_name(:date) %>
      </div>
      <div class="col-8 col-md-4">
        <div class="input-group date-picker" data-wrap="true">
          <%= form.text_field :from_date, class: 'form-control', data: {input: true} %>
          <div class="input-group-text" data-toggle>
            <span class="fa fa-calendar"></span>
          </div>
          <div class="input-group-text" data-clear>
            <span class="fa fa-times"></span>
          </div>
        </div>
      </div>
      <div class="col-1 text-center">～</div>
      <div class="col-8 offset-2 col-md-4 offset-md-0 mb-3">
        <div class="input-group date-picker" data-wrap="true">
          <%= form.text_field :to_date, class: 'form-control', data: {input: true} %>
          <div class="input-group-text" data-toggle>
            <span class="fa fa-calendar"></span>
          </div>
          <div class="input-group-text" data-clear>
            <span class="fa fa-times"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2 col-md-2">
        <%= form.label :month, t('datetime.prompts.month') %>
      </div>
      <div class="col-8 col-md-4 mb-3">
        <div class="input-group month-picker" data-wrap="true">
          <%= form.text_field :month, class: 'form-control', data: {input: true} %>
          <div class="input-group-text" data-toggle>
            <span class="fa fa-calendar"></span>
          </div>
          <div class="input-group-text" data-clear>
            <span class="fa fa-times"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-4">
        <%= form.label :name, Person.human_attribute_name(:name) %>
      </div>
      <div class="col-lg-2 col-8 mb-3">
        <%= form.collection_select :name, Person.all, :id, :name,
                                   {include_blank: true}, class: 'form-control form-select' %>
      </div>
      <div class="col-lg-2 col-4">
        <%= form.label :division_type, Division.model_name.human %>
      </div>
      <div class="col-lg-2 col-8 mb-3">
        <%= form.select :division_type, Division.division_names.invert,
                        {include_blank: true}, class: 'form-control form-select division_type' %>
      </div>
      <div class="col-lg-2 col-4">
        <%= form.label :division_name, Division.human_attribute_name(:name) %>
      </div>
      <div class="col-lg-2 col-8 mb-3">
        <% records = Division.all_records(record.division_type) %>
        <%= form.select :division_id, records.map { |r| [r.name, r.id] },
                        {include_blank: true},
                        class: 'form-control form-select', id: 'division-id-select', disabled: records.blank? %>
      </div>
    </div>
    <%= button_tag t('helpers.button.reset'), type: :button, id: 'reset_search',
                   class: 'btn btn-secondary' %>
    <%= form.submit t('helpers.submit.search'), class: 'btn btn-success', name: nil %>
  </div>
<% end %>
