<p id="notice"><%= notice.try(:html_safe) %></p>

<h1><%= Record.model_name.human %>一覧</h1>

<table class='table table-bordered table-hover'>
  <thead>
    <tr>
      <th><%= Record.human_attribute_name :date %></th>
      <th><%= Person.human_attribute_name :name %></th>
      <th><%= Division.model_name.human %></th>
      <th><%= Division.human_attribute_name :name %></th>
      <th><%= Record.human_attribute_name :cost %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= l(record.date) %></td>
        <td><%= record.person.name %></td>
        <td><%= record.division.model_name.human %></td>
        <td><%= record.division.name %></td>
        <td><%= record.cost.to_s(:currency) %></td>
        <td><%= link_to t('helpers.link.edit'), edit_record_path(record) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('helpers.link.new'), new_record_path %>
