<%= render partial: 'partials/notices', locals: {notices: notice} %>

<h1><%= Record.model_name.human %>一覧</h1>

<%= link_to t('helpers.link.new'), new_record_path %>

<%= render partial: 'search_result', locals: {records: @records} %>

<br>

<%= link_to t('helpers.link.new'), new_record_path %>
