<p id="notice"><%= notice&.html_safe %></p>

<h1><%= Record.model_name.human %>一覧</h1>

<%= render partial: 'search' %>
<%= render partial: 'export', locals: {records: @records} %>

<br>

<%= link_to t('helpers.link.new'), new_record_path %>

<%= render partial: 'search_result', locals: {records: @records} %>

<br>

<%= link_to t('helpers.link.new'), new_record_path %>
