<h1>
  <%= t('helpers.title.show', model: Record.model_name.human) %>
</h1>

<%= render partial: 'partials/action' %>

<div class="container">
  <div class="row">
    <div class="col-4 col-sm-2">
      <%= Record.human_attribute_name :date %>
    </div>
    <div class="col-8 col-sm-10">
      <%= l(@record.date) %>
    </div>
  </div>
  <div class="row">
    <div class="col-4 col-sm-2">
      <%= Person.human_attribute_name :name %>
    </div>
    <div class="col-8 col-sm-10">
      <%= @record.person.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-4 col-sm-2">
      <%= Division.model_name.human %>
    </div>
    <div class="col-8 col-sm-10 emojify">
      <%= render_division(@record.division) %>
    </div>
  </div>
  <div class="row">
    <div class="col-4 col-sm-2">
      <%= Division.human_attribute_name :name %>
    </div>
    <div class="col-8 col-sm-10">
      <%= @record.division.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-4 col-sm-2">
      <%= Record.human_attribute_name :cost %>
    </div>
    <div class="col-8 col-sm-10">
      <%= @record.cost.to_fs(:currency) %>
    </div>
  </div>
</div>
