<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% patient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field input-group input-group-sm">
    <div class="input-group-prepend">
      <%= form.label :name, class: 'input-group-text' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>
    <div class="input-group-prepend">
      <%= form.label :relationship, class: 'input-group-text' %>
      <%= form.text_field :relationship, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-outline-secondary' %>
  </div>
<% end %>
