<%= form_with(model: hospital, local: true) do |form| %>
  <% if hospital.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% hospital.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <div class="col-4 col-sm-2">
      <%= form.label :name %>
    </div>
    <div class="col-8 col-sm-10">
      <%= form.text_field :name, class: 'form-control', required: true %>
    </div>
  </div>
  <div class="row">
    <div class="col-4 col-sm-2">
      <%= form.label HospitalTransport.model_name.human %>
    </div>
    <div class="col-3 col-sm-4">
      <%= HospitalTransport.human_attribute_name :transport %>
    </div>
    <div class="col-3 col-sm-4">
      <%= HospitalTransport.human_attribute_name :transport_cost %>
    </div>
  </div>
  <div id="hospital-transports">
    <%= form.fields_for :hospital_transports do |ht| %>
      <%= render 'hospital_transport_fields', f: ht %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-11"></div>
    <div class="col-1">
      <%= link_to_add_association form, :hospital_transports, class: 'btn btn-primary',
                                  data: {'association-insertion-method': 'append',
                                         'association-insertion-node': '#hospital-transports'} do %>
        <span class="fa fa-plus"></span>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
