<p id="notice"><%= notice %></p>

<h1><%= Hospital.model_name.human %>一覧</h1>

<table class='table table-bordered table-hover'>
  <thead>
    <tr>
      <th><%= Hospital.human_attribute_name :name %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @hospitals.each do |hospital| %>
      <tr>
        <td><%= hospital.name %></td>
        <td><%= link_to t('helpers.link.edit'), edit_hospital_path(hospital) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('helpers.link.new'), new_hospital_path %>
