<%= render_notices %>

<h1>
  <%= t('helpers.title.list', models: Hospital.model_name.human.pluralize(I18n.locale)) %>
</h1>

<%= paginate @hospitals %>
<table class='table table-bordered table-hover table-striped'>
  <thead>
    <tr>
      <th><%= Hospital.human_attribute_name :name %></th>
    </tr>
  </thead>

  <tbody>
    <% @hospitals.each do |h| %>
      <tr>
        <td><%= link_to h.name, hospital_path(h) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @hospitals %>

<br>

<%= link_to t('helpers.link.new'), new_hospital_path %>
