<h1>
  <%= t('helpers.title.list', models: Hospital.model_name.human.pluralize(I18n.locale)) %>
</h1>

<%= paginate @hospitals %>
<table class='table table-bordered table-hover table-striped'>
  <thead>
  <tr>
    <th><%= Hospital.human_attribute_name :name %></th>
    <th>
      <%= t('helpers.title.list',
            models: HospitalTransport.human_attribute_name(:transport_cost)).pluralize(I18n.locale) %>
    </th>
    <th>
      <%= t('helpers.title.total',
            models: HospitalTransport.human_attribute_name(:transport_cost)).pluralize(I18n.locale) %>
    </th>
  </tr>
  </thead>

  <tbody>
  <% @hospitals.each do |h| %>
    <tr>
      <td><%= link_to h.name, hospital_path(h) %></td>
      <td><%= tag.span h.hospital_transports.map {|ht| ht.transport.name}.join(', ') %></td>
      <td><%= tag.span h.hospital_transports.sum(&:transport_cost).to_formatted_s(:currency) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @hospitals %>

<br>

<%= link_to t('helpers.link.new'), new_hospital_path %>
