<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hospital.name %>
</p>

<p>
  <strong>Expense:</strong>
  <%= @hospital.expense %>
</p>

<p>
  <strong>Transportation:</strong>
  <%= @hospital.transportation %>
</p>

<%= link_to 'Edit', edit_hospital_path(@hospital) %> |
<%= link_to 'Back', hospitals_path %>
