<%= form_with(model: hospital_transport, local: true) do |form| %>
  <% if hospital_transport.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% hospital_transport.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="form-group">
        <div class="col-xs-4 col-sm-2">
          <%= form.label :hospital %>
        </div>
        <div class="col-xs-8 col-sm-10">
          <%= form.select :hospital_id, Hospital.objects_for_select,
                          {include_blank: true}, class: 'form-control', required: true %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <div class="col-xs-4 col-sm-2">
          <%= form.label :transport %>
        </div>
        <div class="col-xs-8 col-sm-10">
          <%= form.select :transport_id, Transport.objects_for_select,
                          {include_blank: true}, class: 'form-control', required: true %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <div class="col-xs-4 col-sm-2">
          <%= form.label :transport_cost %>
        </div>
        <div class="col-xs-8 col-sm-10">
          <%= form.number_field :transport_cost, class: 'form-control', min: 0, required: true %>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
