<%= render_notices %>

<h1><%= HospitalTransport.model_name.human %>一覧</h1>

<table class='table table-bordered table-hover table-striped'>
  <thead>
  <tr>
    <th><%= Hospital.human_attribute_name :name %></th>
    <th><%= Transport.human_attribute_name :name %></th>
    <th><%= HospitalTransport.human_attribute_name :transport_cost %></th>
  </tr>
  </thead>

  <tbody>
  <% @hospital_transports.each do |ht| %>
    <tr>
      <td><%= link_to ht.hospital.name, hospital_transport_path(ht) %></td>
      <td><%= ht.transport.name %></td>
      <td><%= ht.transport_cost.to_s(:currency) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to t('helpers.link.new'), new_hospital_transport_path %>
