<h1>
  <%= t('helpers.title.show', model: HospitalTransport.model_name.human) %>
</h1>

<%= render partial: 'action' %>

<div class="container">
  <div class="row">
    <div class="col-xs-4 col-sm-2">
      <%= Hospital.human_attribute_name :name %>
    </div>
    <div class="col-xs-8 col-sm-10">
      <%= @hospital_transport.hospital.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-2">
      <%= Transport.human_attribute_name :name %>
    </div>
    <div class="col-xs-8 col-sm-10">
      <%= @hospital_transport.transport.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-2">
      <%= HospitalTransport.human_attribute_name :cost %>
    </div>
    <div class="col-xs-8 col-sm-10">
      <%= @hospital_transport.transport_cost.to_s(:currency) %>
    </div>
  </div>
</div>
