<div class="row visible-lg visible-md">
  <div class="col-sm-6 col-xs-12">
    <span class="glyphicon <%= check_division(division, Hospital) %>"></span>
    <%= t('text.division_types.medical_treatment') %>
  </div>
  <div class="col-sm-6 col-xs-12">
    <span class="glyphicon glyphicon-unchecked"></span>
    <%= t('text.division_types.nursing') %>
  </div>
  <div class="col-sm-6 col-xs-12">
    <span class="glyphicon <%= check_division(division, Drugstore) %>"></span>
    <%= t('text.division_types.drug') %>
  </div>
  <div class="col-sm-6 col-xs-12">
    <span class="glyphicon <%= check_division(division, Transport) %>"></span>
    <%= t('text.division_types.other') %>
  </div>
</div>
<div class="row visible-xs visible-sm">
  <div class="col-xs-12">
    <%= render_division(division) %>
  </div>
</div>
