<div class="row visible-lg visible-md">
  <div class="col-sm-6 col-xs-12">
    <%= check_division(division, Hospital) %>
    <%= t('text.division_types.medical_treatment') %>
  </div>
  <div class="col-sm-6 col-xs-12">
    <span class="far fa-square"></span>
    <%= t('text.division_types.nursing') %>
  </div>
  <div class="col-sm-6 col-xs-12">
    <%= check_division(division, Drugstore) %>
    <%= t('text.division_types.drug') %>
  </div>
  <div class="col-sm-6 col-xs-12">
    <%= check_division(division, Transport) %>
    <%= t('text.division_types.other') %>
  </div>
</div>
<div class="row visible-xs visible-sm">
  <div class="col-xs-12">
    <%= render_division_for_statistics(division) %>
  </div>
</div>
