<h1><%= t('text.statistics.statistics_year', year: @year) %></h1>

<%= render partial: 'years' %>

<table class='table table-bordered table-hover table-striped'>
  <thead>
  <tr class="d-none d-lg-table-row">
    <th><%= t('text.statistics.rows.person_name') %></th>
    <th><%= t('text.statistics.rows.division_name') %></th>
    <th><%= t('text.statistics.rows.division_type') %></th>
    <th><%= t('text.statistics.rows.cost') %></th>
  </tr>
  <tr class="d-lg-none">
    <th><%= t('text.statistics.rows.short.person_name') %></th>
    <th><%= t('text.statistics.rows.short.division_name') %></th>
    <th><%= t('text.statistics.rows.short.division_type') %></th>
    <th><%= t('text.statistics.rows.short.cost') %></th>
  </tr>
  </thead>

  <tbody>
  <% @record_statistics.each do |r| %>
    <tr>
      <td><%= tag.span r.person.name %></td>
      <td><%= tag.span r.division.name %></td>
      <td>
        <%= render partial: 'division', locals: {division: r.division} %>
      </td>
      <td><%= tag.span r.sum_cost.to_formatted_s(:currency) %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <th colspan="3"><%= t('text.records.total') %></th>
    <th><%= @record_statistics.sum(&:sum_cost).to_formatted_s(:currency) %></th>
  </tr>
  </tfoot>
</table>
