<h1><%= t('text.statistics.statistics_year', {year: @year}) %></h1>

<%= render partial: 'years' %>

<table class='table table-bordered table-hover table-striped'>
  <thead>
  <tr>
    <th class="text-nowrap"><%= t('text.statistics.rows.person_name') %></th>
    <th class="text-nowrap"><%= t('text.statistics.rows.division_name') %></th>
    <th class="text-nowrap"><%= t('text.statistics.rows.division_type') %></th>
    <th class="text-nowrap"><%= t('text.statistics.rows.cost') %></th>
  </tr>
  </thead>

  <tbody>
  <% @record_statistics.each do |r| %>
    <tr>
      <td><%= r.person.name %></td>
      <td><%= r.division.name %></td>
      <td>
        <%= render partial: 'division', locals: {division: r.division} %>
      </td>
      <td><%= r.sum_cost.to_s(:currency) %></td>
    </tr>
  <% end %>
  <tr>
    <th colspan="3"><%= t('text.records.total') %></th>
    <th><%= @record_statistics.map(&:sum_cost).sum.to_s(:currency) %></th>
  </tr>
  </tbody>
</table>
